<!-- <div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 sm:p-10">
      <div class="flex flex-col sm:flex-row md:flex-row flex-auto justify-between py-8 border-b">
        <div>
          <div class="text-4xl font-extrabold tracking-tight leading-none">
            History Classes
          </div>
        </div>
      </div>

      <ng-container *ngIf="dataSource?.length || isLoading; else noOrders">
          <section class="overflow-auto" tabindex="0" >
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element?.index}} </td>
                  </ng-container>

                  <ng-container matColumnDef="student_name">
                      <th mat-header-cell *matHeaderCellDef> Student&nbsp;Name </th>
                      <td mat-cell *matCellDef="let element"> {{element?.student_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="start_date">
                      <th mat-header-cell *matHeaderCellDef> Start Date </th>
                      <td mat-cell *matCellDef="let element"> {{element?.start_date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="end_date">
                      <th mat-header-cell *matHeaderCellDef> End Date </th>
                      <td mat-cell *matCellDef="let element"> {{element?.end_date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="start_time">
                      <th mat-header-cell *matHeaderCellDef> Start&nbsp;Time </th>
                      <td mat-cell *matCellDef="let element"> {{element?.start_time}} </td>
                  </ng-container>
                  <ng-container matColumnDef="end_time">
                      <th mat-header-cell *matHeaderCellDef> End&nbsp;Time </th>
                      <td mat-cell *matCellDef="let element"> {{element?.end_time}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
          </section>
      </ng-container>

    <ng-template #noOrders>
      <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
        There are no classes!
      </div>
    </ng-template>
  </div>
</div> -->


<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-4 md:p-10 flex flex-col">
    <div class="flex-[1] rounded-md w-full flex flex-col">

      <h2 class="text-[1.5rem] font-bold">History Classes</h2>

      <!-- <div class="mt-4">
        <p class="text-[1.5rem] font-normal mb-2">course Details</p>
      </div> -->

      <div class="historyClassesTeacherCardWrapper" *ngIf="dataSource?.length > 0">
        <div class="cardBox" *ngFor="let classItem of dataSource">
          <div class="teacherNameAndImageWrapper">
            <img class="teacherImage" [src]="classItem?.student_id?.photo_url" (error)="onTeacherImgError($event)" alt="">
            <div class="teacherName text-white">
              {{classItem?.student_id?.first_name}} {{classItem?.student_id?.last_name}}
              <div *ngIf="classItem?.student_id?.degree">{{classItem?.student_id?.degree}}</div>
            </div>
          </div>

          <div class="classInfoWrapper">
            <p><span class="font-bold">Date : </span> {{getDateString(classItem)}}</p>
            <p><span class="font-bold">Time : </span> {{getTimeString(classItem)}}</p>
            <!-- <div class="flex">
                <p>Address&nbsp;:&nbsp;</p>
                <p>{{classItem.address}}</p>
            </div> -->
            <p><span class="font-bold">Address : </span> {{classItem.address}}</p>

            <div class="flex justify-end" *ngIf="classItem?.cancel_status">
              <div class="chipItem text-white bg-red-500">
                Booking canceled
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="dataSource?.length === 0">
        <div class="noDataWrapper">No Found History</div>
      </ng-container>

    </div>
  </div>
</div>
