<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-4 md:p-10 flex flex-col">
    <div class="flex-[1] rounded-md w-full">

      <div class="teacherName"> {{teacherDetails?.first_name}} {{teacherDetails?.last_name}} </div>

      <div class="StarWrapper">
        <ng-container *ngFor="let starCount of [1,2,3,4,5]">
          <div [ngStyle]="{'fill': reviewObject.rating_star >= starCount ? 'gold' : 'inherit'}" (click)="reviewObject.rating_star = starCount">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="inherit" class="w-8 h-8">
              <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
            </svg>
          </div>
        </ng-container>
      </div>

      <div class="messageWrapper">
        <textarea [(ngModel)]="reviewObject.text" rows="5" class="backgroundLight block p-2.5 w-full text-sm text-black bg-gray-50 rounded-lg border border-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white " (ngModelChange)="checkMessage()" placeholder="Add review here ..."></textarea>
        <p class="text-red-600" *ngIf="messageHelperText">{{messageHelperText}}</p>
      </div>
      <button (click)="clickOnSubmit()" class="backgroundLight text-white font-bold py-2 px-4 rounded-full w-full">
        Submit
      </button>

    </div>
  </div>
</div>
