.teacherNameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .teacherName {
    font-size: 1rem;
    margin: 0 10px;
    padding: 5px 0;
    flex: 1;
  }
  .ratingChip {
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 34px;
    padding: 4px 0.8rem;
    font-size: 0.8rem;
    margin-top: 5px;
    background: var(--color-dark);
}
}
.backgroundDark {
    background: var(--color-dark) !important;
}

.profilePhoto {
  background: #ffe4e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  img {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
  }
  .teacherName {
    font-size: 1rem;
    padding: 5px 0;
    flex: 1;
    margin-top: 10px;
  }
}
.subscriptionButtonWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  button {
    font-size: 0.8rem;
    mat-icon {
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  .infoWrapperBox {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    .mat-icon {
      color: inherit;
      margin-right: 10px;
    }
  }
}
