<div class="relative flex flex-col w-full h-full">

    <!-- Content -->
    <div class="flex flex-col flex-auto items-center sm:items-start mb-4">

        <ng-container>
            <div class="flex flex-col w-full items-center sm:items-start mt-4 sm:mt-0  space-y-1 text-center sm:text-left">

                <!-- Title -->
                <ng-container>
                    <div class="text-xl leading-6 font-medium mb-4"> Add Schedule </div>
                </ng-container>

                <!-- Message -->
                <ng-container>

                    <!-- <div class="mt-8 w-full">
                        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                            <mat-label>Schedule type</mat-label>
                            <mat-select [(ngModel)]="scheduleForm.schedule_type">
                                <mat-option value="weekly">Weekly</mat-option>
                                <mat-option value="monthly">Monthly</mat-option>
                            </mat-select>
                            <mat-error>
                                Schedule type is required.
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="mt-8 w-full">
                        <mat-form-field class="w-full">
                            <mat-label>Start time</mat-label>
                            <input matInput
                                name="Start Time"
                                [max]="!scheduleForm.end_time ? null : scheduleForm.end_time"
                                [(ngModel)]="scheduleForm.start_time"
                                [ngxMatTimepicker]="startTimePicker"
                                placeholder="--:-- --"
                                readonly
                            />
                            <mat-icon matSuffix (click)="startTimePicker.open()">
                                watch_later
                            </mat-icon>
                        </mat-form-field>
                        <ngx-mat-timepicker #startTimePicker></ngx-mat-timepicker>
                    </div>
                    <div class="mt-8 w-full">
                        <mat-form-field class="w-full">
                            <mat-label>End time</mat-label>
                            <input matInput
                                [disabled]="!scheduleForm.start_time"
                                [min]="scheduleForm.start_time"
                                name="End Time"
                                [(ngModel)]="scheduleForm.end_time"
                                [ngxMatTimepicker]="endTimePicker"
                                placeholder="--:-- --"
                                readonly
                            />
                            <mat-icon matSuffix (click)="endTimePicker.open()">
                                watch_later
                            </mat-icon>
                        </mat-form-field>
                        <ngx-mat-timepicker #endTimePicker></ngx-mat-timepicker>
                    </div>
                    <div class="mt-8 w-full">
                        <mat-form-field  class="w-full" appearance="fill">
                            <mat-label>Days</mat-label>
                            <mat-select [(ngModel)]="scheduleForm.days" multiple>
                              <mat-option value="monday">Monday</mat-option>
                              <mat-option value="tuesday">Tuesday</mat-option>
                              <mat-option value="wednesday">Wednesday</mat-option>
                              <mat-option value="thursday">Thursday</mat-option>
                              <mat-option value="friday">Friday</mat-option>
                              <mat-option value="saturday">Saturday</mat-option>
                              <mat-option value="sunday">Sunday</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="mt-8 w-full">
                        <div class="w-full flex flex-col" appearance="fill">
                            <mat-label>Active</mat-label>
                            <mat-slide-toggle [(ngModel)]="scheduleForm.is_active"></mat-slide-toggle>
                        </div>
                    </div>

                </ng-container>
            </div>
        </ng-container>

    </div>

    <!-- Actions -->
    <ng-container>
        <div class="flex items-center justify-center sm:justify-end space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">

            <!-- Cancel -->
            <ng-container>
                <button mat-stroked-button (click)="closeModal(false)">
                    cancel
                </button>
            </ng-container>

            <!-- Confirm -->
            <ng-container>
                <!-- <button mat-flat-button class="bg-[#b5245f] text-white" (click)="saveSchedule()" [disabled]="!(scheduleForm.start_time && scheduleForm.end_time && scheduleForm.schedule_type && scheduleForm.days?.length > 0)"> -->
                <button mat-flat-button class="bg-[#b5245f] text-white" (click)="saveSchedule()" [disabled]="!(scheduleForm.start_time && scheduleForm.end_time && scheduleForm.days?.length > 0)">
                    Save
                </button>
            </ng-container>

        </div>
    </ng-container>

</div>
